<div class="row align-center">
  <div class="column small-12 medium-10 large-8">
    <%= render "shared/tabs" %>
    <%= render "shared/gallery", gallery: @photos, edit: false %>
    <%= render "shared/photoswipe" %>
  </div>
</div>
