<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div class="callout primary">
  hello
</div>
<div class="callout secondary">
  hello
</div>
<div class="callout success">
  hello
</div>
<div class="callout warning">
  hello
</div>
<div class="callout alert">
  hello
</div>
