// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {

  &-form {
    margin-top: $global-margin * 0.5;

    input[type="text"] {
      margin-bottom: 0;
    }

    .post_content {
      margin-top: $global-margin;
      margin-bottom: $global-margin;
    }

    .back-button {
      margin: 0;
      padding: 0.5rem 1rem;
    }
  }

  &-show {
    margin-top: $global-margin * 0.5;

    .edit-post-link {
      color: #ff7b0d;
    }

    .delete-post-link {
      color: $error-color;
    }

    .prev-next-menu li {
      font-weight: $global-weight-bold;
      font-size: 0.9rem;
    }
  }

  &-container {

    .archive{
      padding: 0 $global-padding;
      margin: 0;
    }
    .posts-archive {
      margin-bottom: $global-margin;
      a {
        font-weight: bold;
        color: #00238d;
      }
    }

    margin-top: 0.5rem;
    .post {
      margin-bottom: $global-margin * 3;
      &-title {
        border-top-style: double;
        border-top-color: $secondary-color;
        border-bottom-style: double;
        border-bottom-color: $secondary-color;
        padding: 0.5rem 1rem;
        h4, p {
          margin: 0;
        }
        p {
          color: $dark-gray;
        }
      }
      &-content {
        padding: 0.5rem 1rem;

      }
    }
  }
}
